.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:black;
    color: white;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar-links a,
  .logout-button {
    color: white;
    text-decoration: none;
  }
  
  .logout-button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1rem;
  }

  .navbar-logo{
    color: white;
  }

  